<div class="blog-code">
    <pre>
        <slot />
    </pre>
</div>

<style>
    .blog-code {
	width: 0;
	flex-grow: 1;
	min-width: 300px;
	padding: .7ch 0 .5ch 20px;
	line-height: 1.1rem;
	overflow: auto;
	border-radius: 5px;
}
</style>