---
import HeaderLink from './HeaderLink.astro';
---

<div id="header">
		<HeaderLink class="header-sel" href="/" style="margin-left: 5px;">Blog</HeaderLink>
		<HeaderLink class="header-sel" href="/repos">Repos</HeaderLink>
		<HeaderLink class="header-sel" href="https://www.linkedin.com/in/sasirura">LinkedIn</HeaderLink>
</div>

<style>
    #header {
	display: flex;
	flex-wrap: wrap;
	background-color: #eaeaea;
	color: #606060;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	margin: 3px 0 15px 0;
}
#header a {
	font-size: 18px;
	padding: 6px 0 6px 0;
	margin: 0 9px 0 9px;
	color: #505050;
}
#header a:hover { color: #303030;}

.header-def {
	font-weight: 400;
}
.header-sel {
	font-weight: bold;
	text-decoration: none;
}
</style>
